{% extends 'ops/index.html' %}


{% block title1 %}
userlist
{% endblock %}

{% block js1 %}
    <script type="text/javascript" src="/static/js/csrftoken.js"></script>
    <script type="text/javascript">
        $(function () {
            var a = $("#nav1").css("width");
            var b = $("#ul1").css("width");
            var aa = a.split("px")[0];
            var bb = b.split("px")[0];
            var c = (aa-bb)/2+"px";
            console.log(c);
            $("#ul1").css({marginLeft: c});

        })

    </script>

{% endblock %}


{% block content1 %}



    <table class="table table-bordered">

      <span>选择搜索条件:&nbsp;</span>
      <select style="height: 26px;width: 100px;">

            <option value="0" selected>所有</option>
            <option value="1" >用户</option>
            <option value="2">服务器</option>
            <option value="3">命令类型</option>
            <option value="4">操作日期</option>

      </select>
      &nbsp;&nbsp;
      <span>搜索:&nbsp;</span>
      <input type="text">
      &nbsp;&nbsp;
      <input type="button" value="搜索">

      <br>
      <br>


      <thead>
        <tr>
          <th>用户</th>
          <th>人员</th>
          <th>时间</th>
          <th>服务器</th>
          <th>来源</th>
          <th>类型</th>
          <th>命令</th>
        </tr>
    </thead>
      <tbody>
          {% for item in page_list %}
          <tr>
              <td scope="row">{{ item.loginuser }}</td>
              <td>{{ item.realuser }}</td>
              <td>{{ item.logintime }}</td>
              <td>{{ item.host }}</td>
              <td>{{ item.fromip }}</td>
              <td>{{ item.logintype }}</td>
              <td>{{ item.command }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>


    <nav id="nav1" aria-label="Page navigation">
      <ul id="ul1" class="pagination" style="">
        {% if page_list.has_previous %}
        <li>
          <a href="/ops/commandlist/?index={{ page_list.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for item in page_list_show %}
           {% if page_list.number == item %}
               <li class="active"><a href="#">{{ item }}</a></li>
           {% else %}
               <li><a href="/ops/commandlist/?index={{ item }}">{{ item }}</a></li>
           {% endif %}
        {% endfor %}

        {% if check %}
            <li><a href="#">...</a></li>
        {% endif %}

        {% if page_list.has_next %}
        <li>
          <a href="/ops/commandlist/?index={{ page_list.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

{% endblock %}
