{% extends 'ops/index.html' %}


{% block title1 %}
userlist
{% endblock %}

{% block js1 %}
    <link href="/static/css/toastr.css" rel="stylesheet"/>
    <script src="/static/js/toastr.min.js"></script>
    <script type="text/javascript" src="/static/js/csrftoken.js"></script>
    <script type="text/javascript">

        function deluser(username) {

            if (confirm("确定删除用户"+username+"?")) {
                $.ajax({
                    url: '/ops/userlist/duser/',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'username': username,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                })
                .done(function(data) {
                    if(data.status == 1){
                        $("#"+username+"").remove();
                        toastr.success('操作成功');
                    }
                })
                .fail(function() {
                    toastr.error('操作失败');
                })

            }else{

            }

        }

        $(function () {

            toastr.options.positionClass = 'toast-top-right';


            function copykey(username, proname, $id) {
                if (confirm("确定复制key到"+proname+"?")) {
                    $.ajax({
                        url: '/ops/userlist/copykey/',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            'username': username,
                            'project_name': proname,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                    })
                    .done(function(data) {
                        if(data.status == 1){
                            $id.find("option:selected").remove();
                            $prev_select = $id.parent().prev().find('select');
                            $prev_select.append("<option>"+proname+"</option>");
                            toastr.success('操作成功');
                        }
                    })
                    .fail(function() {
                        toastr.error('操作失败');
                        $id.val("Copy key:");
                    })


                } else {
                    $id.val("Copy key:");
                    return false;
                }
            }

            {% for user in user_list %}
            $("#cpkey{{ forloop.counter }}").change(function () {
                var proname = $(this).find("option:selected").text();
                var username = $(this).parent().parent().children(":first").text();


                if(proname != 'Copy key:'){
                    copykey(username, proname, $(this));
                }
            });
            {% endfor %}

        })

    </script>
    <style type="text/css">
        .header li{
            list-style: none;
            float: left;
            margin-right: 5px;
        }

    </style>
{% endblock %}


{% block content1 %}
    <br>
    <table class="table table-bordered">
      <span>选择项目:&nbsp</span>
      <select style="height: 26px;width: 100px;">
          <option>ALL</option>
          {% for project in project_list %}
            <option>{{ project.name }}</option>
          {% endfor %}
      </select>
      &nbsp&nbsp
      <span>搜索:&nbsp;</span>
      <input type="text">
      <br>
      <br>
      <thead>
        <tr>
          <th>用户名</th>
          <th>登录用户</th>
          <th>指纹</th>
          <th>项目</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
        <tr id="{{ user.name }}">
          <td scope="row">{{ user.name }}</td>
          <td>{{ user.get_login_user_display }}</td>
          <td>{{ user.fingerprint }}</td>
          <td>
              <select style="height: 30px;width: 80px;">
                  {% for project1 in user.project.all %}
                    <option >{{ project1.name }}</option>
                  {% endfor %}
              </select>

          </td>
          <td>
              <button type="button" class="btn btn-danger btn-sm" onclick="deluser('{{ user.name }}');">删除</button>
              <button type="button" class="btn btn-danger btn-sm">从中控删除</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm">限制访问</button>
              <select id="cpkey{{ forloop.counter }}" style="height: 30px;">
                  <option selected>Copy key:</option>
                  {% for item in project_list %}
                      {% if item not in user.project.all %}
                          <option>{{ item.name }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>



{% endblock %}
